@charset "UTF-8";

 /* header, 배너, 메뉴카테고리, footer 공통 스타일시트입니다. */
 
  /* document */
  html {scroll-behavior: smooth;}
  html {display: block;}
  head {display: none;}
  script {display: none;}
  body, input, select, textarea, button {font-family: noto sans,malgun gothic,AppleGothic,dotum;line-height: 1;letter-spacing: -.05em;color: #4c4c4c;font-size: 12px;max-width: 100%;}
  #header, #container, #content {position: relative;}
  div, th, td, li, dt, dd, p {word-break: break-all;}
  div {display: block;}
/*   dd {display: block;margin-inline-start: 40px;} */
  p {display: block;margin-block-start: 1em;margin-block-end: 1em;margin-inline-start: 0px;margin-inline-end: 0px;}
  iframe {border-width: 2px;border-style: inset;border-color: initial;border-image: initial;}
  button {outline: none;}
  b, strong {font-weight: 700;}
  ol, ul {list-style-type: none;}
  li {display: list-item;text-align: -webkit-match-parent;}
  img {border: 0;max-width: 100%;}
  a{text-decoration: none;}
  a{background-color: transparent;text-decoration: none;color: inherit;}
  form {display: block;}
  ul{list-style-type: none;display: block;}
  h3 {display: block;font-size: 1.17em;margin-block-start: 1em;margin-block-end: 1em;margin-inline-start: 0px;margin-inline-end: 0px;font-weight: bold;}
  dl {display: block;margin-block-start: 1em;margin-block-end: 1em;margin-inline-start: 0px;margin-inline-end: 0px;}
  
  
  /*회원가입/로그인/고객센터 스크립트*/
  .menu:hover 
  .sub {display: block}
  .none_sub:hover 
  .sub {display: none}
  .sub .ico_new {margin: 7px 0 0 1px}
  .none_sub:before, 
  .lst:after {display: none}
  .none_sub .link_menu {padding-right: 11px}
  
 /* 페이지 내용 일괄적용 */
 .page_aticle .head_aticle { padding: 5px 0 34px; }
 .page_aticle .head_aticle .tit {height: 36px; font-weight: 700; font-size: 24px; line-height: 36px; color: #333;letter-spacing: -.5px;}
 .page_aticle.aticle_type2 .page_section {float: right; width: 820px;}
 .page_aticle button, .page_aticle input, .page_aticle select, .page_aticle * {font-family: noto sans;	font-weight: 400; letter-spacing: 0; }
 .styled-button { display: inline-block;  width: 175px; height: 50px; border: 1px solid #5f0080; background-color: #fff; font-size: 14px; color: #5f0080; line-height: 50px; text-align: center; }

  /*배너 설정- 맨위 보라색 띠*/
  .bnr_header {position: relative;min-width: 1050px;text-align: center;line-height: 42px;font-size: 14px;}
  .bnr_header a {display: block;height: 42px;background-color: #5f0080;color: #fff;}
  .bnr_header .bnr_arr {display: inline-block;width: 42px;height: 42px;vertical-align: top;}
  .bnr_header .bnr_top {position: absolute;left: 0;bottom: 0;width: 100%;height: 0;}
  .bnr_header .inner_top_close {position: relative;width: 1050px;height: 100%;margin: 0 auto;}
  .bnr_header .btn_top_bnr {background-image: url(https://res.kurly.com/pc/ico/1908/ico_close_fff_42x42.png);width: 42px; height: 42px; background-color: transparent;border: 0;text-indent: -9999px;position: absolute;bottom: 0;right: -15px;}
  .bnr_header.bnr_top_friend a {background-color: #fff; color: #333;}
  
  /*회원가입 로그인 고객센터*/
  #userMenu {width: 1050px; margin: 0 auto;}
  *, *:after, *:before {box-sizing: border-box; margin: 0; padding: 0;}
  #userMenu .menu:before { content: "";position: absolute; right: 11px; top: 16px; width: 8px; height: 5px; background: url(https://res.kurly.com/pc/ico/1908/ico_down_8x5.png) no-repeat 0 0;}
  #userMenu:after {content: "";display: block;overflow: hidden;width: 100%;height: 0;font-size: 0;text-indent: -9999px;}
  #userMenu .list_menu {float: right;}
  #userMenu * {font-family: noto sans;font-weight: 400;letter-spacing: -.3px;}
  #userMenu .list_menu{list-style-type: none;display: block;}
  
  .menu_join {display: list-item;text-align: -webkit-match-parent;}
  .menu_join .link_menu {color: #5f0080;}
  .none_sub .link_menu {padding-right: 11px;}
  .link_menu {float: left;height: 37px;padding: 0 22px 0 10px;color: #333;line-height: 35px;white-space: nowrap;}
  #userMenu .menu.lst:before { right: 0; }
  
  #userMenu .ico_grade { float: left;  margin-top: 10px;}
  .grade_comm .ico_grade { display: inline-block; min-width: 38px; height: 16px; padding: 0 4px; border-radius: 30px; font-size: 9px;color: #fff; line-height: 14px; text-align: center;}
  .grade_comm .grade0 { border: 1px solid #5f0080;  background-color: #fff; color: #5f0080;}
 
  .menu {position: relative;z-index: 400;float: left;}
  .menu_login .link_menu {padding: 0 16px 0 15px;}
  .menu:after {content: "";float: right;width: 1px;height: 13px;margin-top: 12px;background-color: #d8d8d8;}
  .menu.lst:before {right: 0;}
  .menu.lst:before {content: "";position: absolute;top: 16px;width: 8px;height: 5px;background: url(https://res.kurly.com/pc/ico/1908/ico_down_8x5.png) no-repeat 0 0;}
  .menu.lst .link_menu {padding-right: 13px;}
  .sub{list-style-type: none;margin-block-start: 0px;margin-block-end: 0px;margin-inline-start: 0px;margin-inline-end: 0px;padding-inline-start: 40px;}
  .sub a {font-size: 12px;color: #404040;line-height: 24px;white-space: nowrap;cursor: pointer;}
  .lst .sub {left: auto;right: 0;}
  .sub {display: none;position: absolute;left: 0;top: 34px;width: 102px;padding: 3px 9px;border: 1px solid #ddd;background-color: #fff;}
  
	/*퀵 네비게이션*/
	#qnb {position: absolute;z-index: 1;right: 20px;top: 70px;width: 80px;font: normal 12px/16px "Noto Sans";color: #333;letter-spacing: -0.3px;transition: top 0.2s}
	.goods-goods_view #qnb {top: 20px}
	/* 배너 */
	#qnb .bnr_qnb {padding-bottom: 7px}
	#qnb .bnr_qnb .thumb {width: 80px;height: 120px;vertical-align: top}
	  
	/* 메뉴 */
	#qnb .side_menu {width: 80px;border: 1px solid #ddd;border-top: 0 none;background-color: #fff}
	#qnb .link_menu {display: block;height: 29px;padding-top: 5px;border-top: 1px solid #ddd;text-align: center}
	#qnb .link_menu:hover, #qnb .link_menu.on {color: #5f0080}
	/* 최근본상품 */
	#qnb .side_recent {position: relative;margin-top: 6px;border: 1px solid #ddd;background-color: #fff}
	#qnb .side_recent .tit {display: block;padding: 22px 0 6px;text-align: center}
	#qnb .side_recent .list_goods {overflow: hidden;position: relative;width: 60px;margin: 0 auto}
	#qnb .side_recent .list {position: absolute;left: 0;top: 0}
	#qnb .side_recent .link_goods {display: block;overflow: hidden;width: 60px;height: 80px;padding: 1px 0 2px}
	#qnb .side_recent .btn {display: block;overflow: hidden;width: 100%;height: 17px;border: 0 none;font-size: 0;line-height: 0;text-indent: -9999px}
	#qnb .side_recent .btn_up {position: absolute;left: 0;top: 0;background:url(https://res.kurly.com/pc/service/main/2002/ico_quick_up_hover.png)no-repeat 50% 50%}
	#qnb .side_recent .btn_up.off {background:url(https://res.kurly.com/pc/service/main/2002/ico_quick_up.png)no-repeat 50% 50%}
	#qnb .side_recent .btn_down {background:url(https://res.kurly.com/pc/service/main/2002/ico_quick_down_hover.png)no-repeat 50% 0}
	#qnb .side_recent .btn_down.off {background:url(https://res.kurly.com/pc/service/main/2002/ico_quick_down.png)no-repeat 50% 0}

@media only screen and (-webkit-min-device-pixel-ratio: 1.5) , only screen and (min-device-pixel-ratio: 1.5) , only screen and (min-resolution:1.5dppx) {
	#qnb .side_recent .btn_up {background-image:url(https://res.kurly.com/pc/service/main/2002/ico_quick_up_hover_x2.png);background-size: 12px 18px}
	#qnb .side_recent .btn_down {background-image:url(https://res.kurly.com/pc/service/main/2002/ico_quick_down_hover_x2.png);background-size: 12px 18px}
	#qnb .side_recent .btn_up.off {background-image:url(https://res.kurly.com/pc/service/main/2002/ico_quick_up_x2.png);background-size: 12px 18px}
	#qnb .side_recent .btn_down.off {background-image:url(https://res.kurly.com/pc/service/main/2002/ico_quick_down_x2.png);background-size: 12px 18px}}

  @media all and (max-width: 1250px) {#qnb {display: none}}
  
  /*헤더 로고*/
  #headerLogo{position:relative;width:1050px;height:63px;margin:0 auto}
  #headerLogo .logo{position:absolute;left:50%;bottom:6px;width:200px;height:79px;margin-left:-100px}
  #headerLogo .bnr_delivery{position:absolute;left:-1px;top:-28px;margin:auto;height:22px}
  #headerLogo .logo img{display:block;width:103px;height:79px;margin:0 auto}
  #headerLogo .logo #gnbLogoContainer {margin:0 auto}
 
 
  /*메인 메뉴*/
  .screen_out {display: block;overflow: hidden;position: absolute;left: -9999px;width: 1px;height: 1px;font-size: 0;line-height: 0;text-indent: -9999px;}
  #gnb .gnb_kurly {position: relative;z-index: 300;min-width: 1050px;background-color: #fff;font-family: 'Noto Sans';letter-spacing: -0.3px;}
  #gnb .inner_gnbkurly{position:relative;width:1050px;height:56px;margin:0 auto}
  #gnb .gnb_kurly:after{content:"";position:absolute;z-index:299;left:0;top:56px;width:100%;height:9px;background:url(https://res.kurly.com/pc/service/common/1902/bg_1x9.png) repeat-x 0 100%}
  #gnb .gnb_main {overflow: hidden;width: 1050px;margin: 0 auto;}
  #gnb .gnb_main .gnb {float: left;width: 100%;}
 
  #gnb .gnb_main .gnb li {float: left;}
  #gnb .gnb_main .menu1 a {width: 168px;}
  #gnb .gnb_main .gnb a {overflow: hidden;float: left;width: 124px;height: 55px;padding: 16px 0 0;font-size: 16px;color: #333;line-height: 20px;text-align: center;}
  #gnb .gnb_main .menu1 .ico {float: left;width: 16px;height: 14px;margin: 5px 14px 0 0;background: url(https://res.kurly.com/pc/service/common/1908/ico_gnb_all_off.png) no-repeat;}
  #gnb .gnb_main .gnb a .txt {font-weight: 700;}
  #gnb .gnb_main .menu3 a {width: 116px;}
  #gnb .gnb_main .gnb .lst {background: none;float: left;}
  #gnb .gnb_main .lst a {width: 116px;}
  #gnb.gnb_stop{position:fixed;z-index:300;left:0;top:0;width:100%}
 
  /* 메인메뉴 - 검색창 */
  #gnb .gnb_search {position: absolute;right: 108px;top: 10px;width: 242px;}

  #gnb .gnb_search .inp_search {width: 242px;height: 36px;padding: 0 60px 0 14px;border: 1px solid #f7f7f6;border-radius: 18px;background-color: #f7f7f7;font-family: 'Noto Sans';font-weight: 400;font-size: 12px;color: #666;line-height: 16px;outline: none;}
  #gnb .gnb_search .btn_search {position: absolute;right: 5px;top: 3px;width: 30px;height: 30px;}
  .gnb_search .init {position: relative;}
  .gnb_search .init .btn_delete {overflow: hidden;position: absolute;left: 170px;top: -36px;width: 36px;height: 36px;border: 0 none;background: url(https://res.kurly.com/pc/ico/2010/ico_search_del.svg) no-repeat 50% 50%;background-size: 12px 12px;font-size: 0;line-height: 0;text-indent: -9999px;opacity: 0;}
  #gnb .gnb_search .inp_search.focus{background-color:#fff;color:#333}
  
  /* 메인메뉴 - 장바구니 */
  #gnb .cart_count{position:absolute;right:-5px;top:10px}
  #gnb .cart_count .inner_cartcount{text-align:center;font-weight:400}
  #gnb .cart_count .btn_cart{display:block;width:36px;height:36px;background:url(https://res.kurly.com/pc/service/common/2011/ico_cart.svg) no-repeat 50% 50%}
  #gnb .cart_count .btn_cart:hover{background:url(https://res.kurly.com/pc/service/common/2011/ico_cart_on.svg?v=1) no-repeat 50% 50%}
  #gnb .cart_count .num{display:none;position:absolute;left:19px;top:-1px;min-width:20px;height:20px;padding:0 5px;border:2px solid #fff;border-radius:10px;background-color:#5f0080;font-size:9px;color:#fff;line-height:15px;text-align:center;white-space:nowrap}
  #gnb .cart_count .msg_cart{display:none;position:absolute;right:-7px;top:61px;width:348px;border:1px solid #ddd;background-color:#fff;/* opacity:0; */}
  #gnb .cart_count .msg_cart .point{position:absolute;right:13px;top:-14px;width:20px;height:14px;background:url(https://res.kurly.com/pc/ico/1903/ico_layer_point.png) no-repeat 0 0}
  #gnb .cart_count .inner_msgcart{display:block;overflow:hidden;padding:20px 0 20px 20px}
  #gnb .cart_count .msg_cart .name{overflow:hidden;float:left;max-width:178px;text-overflow:ellipsis}
  #gnb .cart_count .msg_cart .thumb{float:left;width:46px;height:60px}
  #gnb .cart_count img{display:block;width:36px;height:36px;margin:0 auto}
  #gnb .cart_count .msg_cart .desc{float:left;width:260px;padding:8px 0 0 20px;font-weight:700;font-size:14px;line-height:21px}
  #gnb .cart_count .msg_cart .desc.add{padding-top:0;margin-top:-5px;}
  #gnb .cart_count .msg_cart .tit{display:block;overflow:hidden;width:100%;color:#999;white-space:nowrap;text-overflow:ellipsis}
  #gnb .cart_count .msg_cart .txt{display:block;padding-top:3px;color:#333}
  #gnb .cart_count .msg_cart .repeat{display:none}
  #gnb .cart_count .msg_cart .add .repeat{display:block}
  #gnb .btn_location.on {background-image: url(https://res.kurly.com/pc/ico/2008/ico_delivery_setting.svg?ver=1);}
  #gnb .btn_location {overflow: hidden;position: absolute;right: 51px;top: 10px;width: 36px;height: 36px;border: 0 none;background: url(https://res.kurly.com/pc/ico/2008/ico_delivery_setting_done.svg) no-repeat 50% 50%;font-size: 0;text-indent: -9999px;}

  #gnb .layer_location {display: none;position: absolute;z-index: 300;right: 41px;top: 56px;width: 315px;padding: 18px 18px 19px 20px;border: 1px solid #ddd;background-color: #fff;}
  #gnb .layer_location * {font-weight: 700;font-size: 16px;color: #333;line-height: 24px;letter-spacing: -0.3px;}
  #gnb .layer_location .emph {color: #5f0080;}
  #gnb .layer_location .group_button {display: block;overflow: hidden;}
  #gnb .layer_location .double .btn {margin-left: 0;margin-right: 0;}
  #gnb .layer_location .double .default {float: left;width: 110px;}
  #gnb .layer_location .btn.default {border: 1px solid #5f0080;background-color: #fff;color: #5f0080;}
  #gnb .layer_location .btn {display: block;width: 100%;height: 36px;margin-top: 17px;padding-bottom: 2px;border-radius: 3px;font-size: 12px;line-height: 32px;letter-spacing: 0;text-align: center;}
  #gnb .layer_location .double .active {float: right;width: 159px;}
  #gnb .layer_location .btn.active {border: 1px solid #5f0081;background-color: #5f0080;color: #fff;}
 
  /* GNB메인 */
  #main {border-bottom: 1px solid #f7f7f7;}
  .goods-goods_view #qnb{top:20px}
 
  /* 하단버튼 */
  #mainNotice .pop_footer{overflow:hidden;width:100%;height:60px;border-top:1px solid #f7f7f7;background-color:#fff}
  #mainNotice .pop_footer .btn{overflow:hidden;float:left;width:100%;height:100%;border:0 none;background-color:#fff;font-family:'Noto Sans';font-weight:400;font-size:16px;color:#333;line-height:20px;text-align:center}
  #mainNotice .pop_select .btn{float:left;width:219px;}
  #mainNotice .pop_select .btn:last-child{float:right;width:219px;border-left:1px solid #f7f7f7}
  
  /* 비밀번호변경 팝업 */
  #change_pw{position:absolute;left:0;top:0;width:404px}
  #change_pw .inner_popdiv{width:404px;padding:0 20px;background-color:#fff;border:2px solid #514859;text-align:left}
  #change_pw .line{height: 2px;border:none; outline: none;  background-color:#5f0080}
  #change_pw .line_grey{height: 2px;border:none; outline: none;background-color:#dddfe1}
  #change_pw .tit{display:block;padding:32px 0 15px;font-size:16px;font-weight:700;color:#5f0080}
  #change_pw .wrap_pw{padding:22px 0;font-size:16px;color:#000}
  #change_pw .desc{padding-bottom:10px;letter-spacing:-.5px}
  #change_pw .btn_group{height:50px}
  #change_pw .inner_popdiv .btn{overflow:hidden;position:absolute;bottom:2px;height:26px;font-size:14px;line-height:26px}
  #change_pw .inner_popdiv .btn_close { left:2px; width:200px; background-color:#fff; color:#5f0080; border-top:1px solid #5f0080; height:50px; text-align:center; line-height:50px; font-size:16px; letter-spacing:0.5px}
  #change_pw .inner_popdiv .link_move{right:2px;width:200px;background-color:#5f0080;color:#fff;border:1px solid #512771; height:50px; text-align:center; line-height:50px; font-size:16px; letter-spacing:0.5px}
  #change_pw .inp_tit{display:block;padding:13px 0 5px 0;font-size:14px;letter-spacing:-.5px; color:#5f0080;font-weight:bold}
  #change_pw .wrap_inp{position:relative}
  #change_pw .txt_placeholder {position:absolute; z-index:9; display:block; font-size:16px; top:12px; left:10px;font-family:"Noto Sans";font-weight:200;line-height:18px; color:#949296}
  #change_pw .pw_inp{width:100%;padding:10px}
  #change_pw .item_info dt{padding-bottom:5px}
  #change_pw .pw_notice{padding-top:19px}
  #change_pw .new_pw{margin-bottom:20px}
  #change_pw .mark_valid{ display:none;font-size:12px;color:#514859;line-height:20px}
  #change_pw .wrap_inp .mark_valid .good{ color:#0e851a }
  #change_pw .wrap_inp .mark_valid .bad{ color:#b3130b }
  #change_pw .wrap_inp .mark_coincide.good{ color:#0e851a }
  #change_pw .wrap_inp .mark_coincide.bad{ color:#b3130b }
  #change_pw .pw_inp.inp_invalid{border: 1px solid #b3130b}
  #change_pw input[type=password]{height:44px; outline: none; border: 1px solid #514859}


  /* LayerDSR */
  #layerDSR {display: none;}
  #layerDSR .bg_dim {position: fixed;z-index: 9998;left: 0;top: 0;width: 100%;height: 100%;background-color: #000;opacity: .5;}
  #layerDSR * {font-family: noto sans;letter-spacing: 0;}
  #layerDSR .in_layer {position: fixed;z-index: 9999;left: 50%;top: 50%;width: 440px;margin: -258px 0 0 -220px;padding: 31px 30px 0;border-radius: 6px;background-color: #fff;}
  #layerDSR .inner_layer {display: none;padding-bottom: 111px;}
  #layerDSR .layer_star .dsr_result {font-size: 25px;}
  #layerDSR .dsr_result {display: block;padding-top: 14px;font-weight: 700;font-size: 30px;color: #333;line-height: 36px;text-align: center;}
  #layerDSR .ani {height: 190px;padding-top: 31px;text-align: center;}
  #layerDSR .ani img {height: 140px;}
 
  #layerDSR .dsr_desc {font-size: 16px;color: #333;line-height: 24px;text-align: center;}
  #layerDSR .dsr_desc .emph {font-weight: 700;}
  #layerDSR .dsr_notice {padding-top: 20px;font-size: 14px;color: #949296;line-height: 18px;text-align: center;}
  #layerDSR .btn_close {position: absolute;left: 30px;bottom: 30px;width: 380px;height: 54px;border: 1px solid #5f0081;border-radius: 3px;background-color: #5f0080;font-weight: 700;font-size: 16px;color: #fff;line-height: 20px;text-align: center;}
  #layerDSR .layer_close {display: none;overflow: hidden;position: absolute;z-index: 9999;right: 26px;top: 36px;width: 32px;height: 32px;border: 0;background: url(https://res.kurly.com/pc/service/common/1908/ico_close_999_32x32.png) no-repeat 50% 50%;font-size: 0;line-height: 0;text-indent: -9999px;}
  

    
    @media
    only screen and (-webkit-min-device-pixel-ratio: 1.5),
    only screen and (min-device-pixel-ratio: 1.5),
    only screen and (min-resolution: 1.5dppx) {
        #qnb .side_recent .btn_up{background-image:url(https://res.kurly.com/pc/service/main/2002/ico_quick_up_hover_x2.png);background-size:12px 18px}
        #qnb .side_recent .btn_down{background-image:url(https://res.kurly.com/pc/service/main/2002/ico_quick_down_hover_x2.png);background-size:12px 18px}
        #qnb .side_recent .btn_up.off{background-image:url(https://res.kurly.com/pc/service/main/2002/ico_quick_up_x2.png);background-size:12px 18px}
        #qnb .side_recent .btn_down.off{background-image:url(https://res.kurly.com/pc/service/main/2002/ico_quick_down_x2.png);background-size:12px 18px}
    }
    @media all and (max-width: 1250px){
        #qnb{display:none}
    }
  
  
  #gnb .gnb_main{overflow:hidden;width:1050px;margin:0 auto}
  #gnb .gnb_main .gnb{margin: 0;float:left;width:100%}
  #gnb .gnb_main .gnb li{float:left}
  #gnb .gnb_main .gnb .lst{background:none}
  #gnb .gnb_main .gnb a{overflow:hidden;float:left;width:124px;height:55px;padding:16px 0 0;font-size:16px;color:#333;line-height:20px;text-align:center}
  #gnb .gnb_main .gnb a .txt{font-weight:700}
  #gnb .gnb_main .gnb a:hover,
  #gnb .gnb_main .gnb a.on{font-weight:700;color:#5f0080}
  #gnb .gnb_main .gnb a:hover .txt{border-bottom:1px solid #5f0080}
  #gnb .gnb_main .menu1 a{width:168px}
  #gnb .gnb_main .menu1 .ico{float:left;width:16px;height:14px;margin:5px 14px 0 0;background:url(https://res.kurly.com/pc/service/common/1908/ico_gnb_all_off.png) no-repeat}
  #gnb .gnb_main .menu1 a.on .ico,
  #gnb .gnb_main .menu1 a:hover .ico{background:url(https://res.kurly.com/pc/service/common/1908/ico_gnb_all.png) no-repeat 0 0}
  #gnb .gnb_main .menu1 a.on .txt,
  #gnb .gnb_main .menu1 a:hover .txt,
  #gnb .gnb_main .menu1 .txt{float:left;font-weight:700;border-bottom:0}
  #gnb .gnb_main .menu3 a{width:116px}
  #gnb .gnb_main .lst a{width:116px}
  
  
  /* GNB서브 */
  #gnb .gnb_sub{display:none;overflow:hidden;position:absolute;z-index:301;left:0;top:55px;width:213px;padding-top:1px}
  #gnb .gnb_sub .inner_sub{width:100%;border:1px solid #ddd;background:url(https://res.kurly.com/pc/service/common/1908/bg_gnb_sub_v3.png) repeat-y 0 0}
  #gnb .size_over{overflow-x:hidden;overflow-y:auto}
  #gnb .gnb_sub .gnb_menu{width:219px}
  #gnb .gnb_sub .gnb_menu li{width:100%;text-align:left}
  #gnb .gnb_sub .gnb_menu li:first-child{padding-top:0}
  #gnb .gnb_sub .menu{display:block;overflow:hidden;width:100%;height:40px;padding:8px 0 0 14px;cursor:pointer}
  #gnb .gnb_sub .gnb_menu li:first-child .menu{height:39px;padding-top:7px}
  #gnb .gnb_sub .current .menu{background:#f7f7f7}
  #gnb .gnb_sub .current .txt,
  #gnb .gnb_sub .menu.on.off:hover .txt,
  #gnb .gnb_sub .menu.on .txt{font-weight:700;color:#5f0080}
  #gnb .gnb_sub .ico{float:left;width:24px;height:24px}
  #gnb .gnb_sub .ico img{width:24px;height:24px}
  #gnb .gnb_sub .ico .ico_off{display:block}
  #gnb .gnb_sub .ico .ico_on{display:none}
  #gnb .gnb_sub .current .ico_off,
  #gnb .gnb_sub .menu.on .ico_off,
  #gnb .gnb_sub .menu:hover .ico_off{display:none}
  #gnb .gnb_sub .current .ico_on,
  #gnb .gnb_sub .menu.on .ico_on,
  #gnb .gnb_sub .menu:hover .ico_on{display:block}
  #gnb .gnb_sub .ico_arrow{display:none;float:right;width:16px;height:17px;padding:6px 9px 0 0}
  #gnb .gnb_sub .ico_arrow img{width:7px;height:11px}
  #gnb .gnb_sub .current .ico_arrow{display:block}
  #gnb .gnb_sub .txt{float:left;padding:0 4px 0 10px;font-weight:400;font-size:14px;color:#333;line-height:22px;white-space:nowrap}
  #gnb .gnb_sub .ico_new{overflow:hidden;float:left;width:14px;height:14px;margin-top:5px;background-position:50% 50%;background-repeat:no-repeat;background-size:14px 14px;font-size:0;line-height:0;text-indent:-9999px}
  #gnb .gnb_sub .sub_menu{position:absolute;z-index:0;left:200px;top:0;width:248px;height:100%;padding:0 0 0 20px;background:url(https://res.kurly.com/images/common/bg_1_1.gif) repeat 0 0;opacity:0;transition:opacity 0.2s}
  #gnb .gnb_sub .current .sub_menu{z-index:1;opacity:1;transition:opacity 0.5s}
  #gnb .gnb_sub .sub_menu li:first-child{padding-top:11px}
  #gnb .gnb_sub .sub_menu .sub{display:block;overflow:hidden;height:40px;padding-left:20px;font-size:14px;color:#333;line-height:18px;cursor:pointer}
  #gnb .gnb_sub .sub_menu .sub:hover .name{border-bottom:1px solid #5f0080;font-weight:700;color:#5f0080}
  #gnb .gnb_sub .sub_menu .sub.on{font-weight:700;color:#5f0080}
  #gnb .gnb_sub .recommend{overflow:hidden;width:529px;padding:21px 0 0 40px}
  #gnb .gnb_sub .recommend li{float:left;width:120px;height:130px;padding:0 10px 0 0}
  #gnb .gnb_sub .recommend li:first-child{padding-top:0}
  #gnb .gnb_sub .recommend .sub{display:block;overflow:hidden;width:120px;height:130px;padding:0;cursor:pointer}
  #gnb .gnb_sub .recommend .thumb{display:block;width:110px;height:83.4px;margin-bottom:8px;background-position:50% 50%;background-repeat:no-repeat;background-size:cover}
  #gnb .gnb_sub .recommend .thumb img{width:110px;height:84px}
  #gnb .gnb_sub .recommend .name{font-size:14px;line-height:18px}
  #gnb .btn_location{overflow:hidden;position:absolute;right:51px;top:10px;width:36px;height:36px;border:0 none;background:url(https://res.kurly.com/pc/ico/2008/ico_delivery_setting_done.svg) no-repeat 50% 50%;font-size:0;text-indent:-9999px}
  #gnb .btn_location.on{background-image:url(https://res.kurly.com/pc/ico/2008/ico_delivery_setting.svg?ver=1)}
  #gnb .layer_location{display:none;position:absolute;z-index:300;right:41px;top:56px;width:315px;padding:18px 18px 19px 20px;border:1px solid #ddd;background-color:#fff}
  #gnb .layer_location:after{content:"";position:absolute;right:10px;top:-50px;width:36px;height:50px;background:url(https://res.kurly.com/pc/ico/2011/ico_point_up_18x12.svg) no-repeat 50% 100%}
  #gnb .layer_location *{font-weight:700;font-size:16px;color:#333;line-height:24px;letter-spacing:-0.3px}
  #gnb .layer_location .delivery{display:block;padding-top:8px;font-size:14px;line-height:20px}
  #gnb .layer_location .star{color:#5f0080}
  #gnb .layer_location .regular{color:#666}
  #gnb .layer_location .none{color:#999}
  #gnb .layer_location .btn{display:block;width:100%;height:36px;margin-top:17px;padding-bottom:2px;border-radius:3px;font-size:12px;line-height:32px;letter-spacing:0;text-align:center}
  #gnb .layer_location a.btn{padding-top:0}
  #gnb .layer_location .btn.default{border:1px solid #5f0080;background-color:#fff;color:#5f0080}
  #gnb .layer_location .btn.active{border:1px solid #5f0081;background-color:#5f0080;color:#fff}
  #gnb .layer_location .btn .ico{display:inline-block;width:20px;height:20px;margin:6px 0 0 -6px;background:url(https://res.kurly.com/pc/ico/2008/ico_search_40x40.png) no-repeat 50% 50%;background-size:20px 20px;vertical-align:top}
  #gnb .layer_location .group_button{display:block;overflow:hidden}
  #gnb .layer_location .double .default{float:left;width:110px}
  #gnb .layer_location .double .active{float:right;width:159px}
  #gnb .layer_location .double .btn {margin-left: 0; margin-right:0;}
  #gnb .layer_location .emph{color:#5f0080}
  #gnb .location_set:hover .btn_location.on{background-image:url(https://res.kurly.com/pc/ico/2010/ico_delivery_setting_on.svg)}
  #gnb .location_set.show .layer_location,
  #gnb .location_set:hover .layer_location{display:block}
  #gnb .location_set .btn_location.off,
  #gnb .location_set .btn_location.off:hover{background-image:url(https://res.kurly.com/pc/ico/2008/ico_delivery_off.svg?ver=1);cursor:default}
  #gnb .location_set.off .layer_location,
  #gnb .location_set.off:hover .layer_location{display:none}
  
  
  /* 오류 */
  #gnb .layer_location .error .txt{display:block;color:#333}
  @media
  only screen and (-webkit-min-device-pixel-ratio: 1.5),
  only screen and (min-device-pixel-ratio: 1.5),
  only screen and (min-resolution: 1.5dppx) {
    #gnb .gnb_sub .ico_new{background:url(https://res.kurly.com/pc/ico/1808/ico_new_gnb_16x16.png) no-repeat 0 0;background-size:14px 14px}
    #gnb .cart_count .msg_cart .point{background:url(https://res.kurly.com/pc/ico/1903/ico_layer_point_x2.png) no-repeat 0 0;background-size:20px 14px}
    #gnb .gnb_main .menu1 .ico{background:url(https://res.kurly.com/pc/service/common/1908/ico_gnb_all_off_x2.png) no-repeat 0 0;background-size:16px 14px}
    #gnb .gnb_main .menu1 a.on .ico,
    #gnb .gnb_main .menu1 a:hover .ico{background:url(https://res.kurly.com/pc/service/common/1908/ico_gnb_all_x2.png) no-repeat 0 0;background-size:16px 14px}
  }
  .gnb_search .init{position:relative}
  .gnb_search .init .btn_delete{overflow:hidden;position:absolute;left:170px;top:-36px;width:36px;height:36px;border:0 none;background:url(https://res.kurly.com/pc/ico/2010/ico_search_del.svg) no-repeat 50% 50%;background-size:12px 12px;font-size:0;line-height:0;text-indent:-9999px;opacity:0}
  .gnb_search .init .btn_delete.on{opacity:1}
  
  
   @media
   only screen and (-webkit-min-device-pixel-ratio: 1.5),
   only screen and (min-device-pixel-ratio: 1.5),
   only screen and (min-resolution: 1.5dppx) {
       .page_main .bx-controls-direction .bx-prev{background:url(https://res.kurly.com/pc/service/main/1908/btn_prev_default_x2.png?v=1) no-repeat 50% 50%;background-size:60px 60px;}
       .page_main .bx-controls-direction .bx-prev:hover{background:url(https://res.kurly.com/pc/service/main/1908/btn_prev_default_hover_x2.png?v=1) no-repeat 50% 50%;background-size:60px 60px;}
       .page_main .bx-controls-direction .bx-next{background:url(https://res.kurly.com/pc/service/main/1908/btn_next_default_x2.png?v=1) no-repeat 50% 50%;background-size:60px 60px;}
       .page_main .bx-controls-direction .bx-next:hover{background:url(https://res.kurly.com/pc/service/main/1908/btn_next_default_hover_x2.png?v=1) no-repeat 50% 50%;background-size:60px 60px;}
       .page_main .bg .bx-controls-direction .bx-prev{background:url(https://res.kurly.com/pc/service/main/1908/btn_prev_gray_x2.png?v=1) no-repeat 50% 50%;background-size:60px 60px;}
       .page_main .bg .bx-controls-direction .bx-prev:hover{background:url(https://res.kurly.com/pc/service/main/1908/btn_prev_gray_hover_x2.png?v=1) no-repeat 50% 50%;background-size:60px 60px;}
       .page_main .bg .bx-controls-direction .bx-next{background:url(https://res.kurly.com/pc/service/main/1908/btn_next_gray_x2.png?v=1) no-repeat 50% 50%;background-size:60px 60px;}
       .page_main .bg .bx-controls-direction .bx-next:hover{background:url(https://res.kurly.com/pc/service/main/1908/btn_next_gray_hover_x2.png?v=1) no-repeat 50% 50%;background-size:60px 60px;}
       .page_main .tit_goods .name .ico{background:url(https://res.kurly.com/pc/service/main/1908/ico_title_link_x2.png) no-repeat 100% 50%;background-size:32px 32px;}
       .main_type1 .bx-controls-direction .bx-prev:hover,
       .main_type1 .bx-controls-direction .bx-prev{background:url(https://res.kurly.com/pc/service/main/1908/ico_prev1_x2.png) no-repeat 50% 50%;background-size:52px 52px;}
       .main_type1 .bx-controls-direction .bx-next:hover,
       .main_type1 .bx-controls-direction .bx-next{background:url(https://res.kurly.com/pc/service/main/1908/ico_next1_x2.png) no-repeat 50% 50%;background-size:52px 52px;}
       .main_md .link_more .ico{background:url(https://res.kurly.com/pc/service/main/1903/ico_more_link_x2.png) no-repeat 100% 50%;background-size:20px 20px;}
       .category_type .link_more .ico{background-image:url(https://res.kurly.com/pc/service/main/1903/ico_more_link_x2.png);background-size:20px 20px;}
   }
    /*LayerDSR*/
  #layerDSR {display: none;}
  #layerDSR .bg_dim {position: fixed;z-index: 9998;left: 0;top: 0;width: 100%;height: 100%;background-color: #000;opacity: .5;}
  #layerDSR * {font-family: noto sans;letter-spacing: 0;}
  #layerDSR .in_layer {position: fixed;z-index: 9999;left: 50%;top: 50%;width: 440px;margin: -258px 0 0 -220px;padding: 31px 30px 0;border-radius: 6px;background-color: #fff;}
  #layerDSR .inner_layer {display: none;padding-bottom: 111px;}
  #layerDSR .layer_star .dsr_result {font-size: 25px;}
  #layerDSR .dsr_result {display: block;padding-top: 14px;font-weight: 700;font-size: 30px;color: #333;line-height: 36px;text-align: center;}
  #layerDSR .ani {height: 190px;padding-top: 31px;text-align: center;}
  #layerDSR .ani img {height: 140px;}
  #layerDSR .dsr_desc {font-size: 16px;color: #333;line-height: 24px;text-align: center;}
  #layerDSR .dsr_desc .emph {font-weight: 700;}
  #layerDSR .dsr_notice {padding-top: 20px;font-size: 14px;color: #949296;line-height: 18px;text-align: center;}
  #layerDSR .btn_close {position: absolute;left: 30px;bottom: 30px;width: 380px;height: 54px;border: 1px solid #5f0081;border-radius: 3px;background-color: #5f0080;font-weight: 700;font-size: 16px;color: #fff;line-height: 20px;text-align: center;}
  #layerDSR .layer_close {display: none;overflow: hidden;position: absolute;z-index: 9999;right: 26px;top: 36px;width: 32px;height: 32px;border: 0;background: url(https://res.kurly.com/pc/service/common/1908/ico_close_999_32x32.png) no-repeat 50% 50%;font-size: 0;line-height: 0;text-indent: -9999px;}
 
   

	/*footer*/
	#footer{opacity:1;width: 1050px;margin: 0 auto;padding-bottom: 60px;font-weight: 400;letter-spacing: -.2px;font-family: noto sans;}
	#footer .inner_footer {overflow: hidden;padding-bottom: 20px;}
	*, *:after, *:before {-webkit-box-sizing: border-box;box-sizing: border-box;margin: 0;padding: 0;}
	#footer .footer_cc {float: left;width: 534px;}
	#footer .tit_cc {padding: 29px 0 2px;font-weight: 700;font-size: 20px;color: #333;line-height: 24px;}
	#footer .cc_call {padding-top: 20px;}
	#footer .cc_view {overflow: hidden;padding-top: 16px;}
	#footer .cc_view .tit {float: left;width: 140px;margin-right: 16px;}
	#footer .cc_call .tit {padding-top: 4px;font-weight: 800;font-size: 28px;color: #333;line-height: 36px;letter-spacing: -.5px;white-space: nowrap;}
	#footer .cc_bulkorder .txt, #footer .footer_cc .list {font-size: 14px;color: #333;line-height: 22px;letter-spacing: -.2px;}
	#footer .footer_cc .list dt {display: block;}
	#footer .footer_cc .list dd {color: #999;}
	#footer .cc_view {overflow: hidden;padding-top: 0px;}
	#footer .cc_bulkorder .tit, #footer .cc_kakao .tit, #footer .cc_qna .tit {height: 40px;padding-top: 7px;margin-top: 3px;border: 1px solid #e3e3e3;border-radius: 3px;font-weight: 700;font-size: 14px;color: #333;line-height: 22px;text-align: center;}
	#footer .cc_view .tit {float: left;width: 140px;margin-right: 16px;}
	#footer .cc_bulkorder .txt {padding-top: 9px;color: #999;}
	#footer .company {float: left;padding-top: 29px;font-size: 12px;color: #999;line-height: 20px;}
	#footer .company .list {overflow: hidden;width: 100%;padding-bottom: 29px;}
	#footer .company .list li {float: left;padding-right: 16px;}
	#footer .company .list .link {font-size: 14px;color: #333;line-height: 18px;}
	#footer .company .link {color: #5f0080;}
	#footer .company .list .emph {font-weight: 700;}
	#footer .company .bar {padding: 0 4px 0 3px;}
	#footer .company .copy {display: block;padding-top: 16px;font-style: normal;font-size: 10px;color: #949296;line-height: 22px;letter-spacing: 0;}
	#footer .list_sns {float: left;padding-top: 16px;}
	#footer .list_sns li {float: left;}
	#footer .list_sns .link_sns {display: block;width: 30px;height: 30px;margin-right: 10px;vertical-align: top;}
	#footer .footer_link {overflow: hidden;padding-top: 19px;border-top: 1px solid #eee;letter-spacing: 0;}
	#footer .authentication {float: left;padding-top: 3px;}
	#footer .mark {float: left;width: 267px;}
	#footer .mark .logo {float: left;width: 34px;height: 34px;margin-right: 10px;}
	#footer .mark .txt {float: left;padding-top: 1px;font-size: 10px;color: #999;line-height: 16px;letter-spacing: -.5px;white-space: nowrap;}
	#footer .lguplus {width: 428px;}
	#footer .lguplus .logo {width: 102px;height: 34px;}
	#pageTop {overflow: hidden;position: fixed;z-index: 300;right: 31px;bottom: 0;width: 58px;height: 58px;border: 0;background: url(https://res.kurly.com/pc/service/common/1903/btn_pagetop_v2.png) no-repeat 50% 50%;font-size: 0;line-height: 0;text-indent: -9999px;opacity: 0;transition: background .5s;}
	  

	
	/*fatkun-drop-panel*/
	#fatkun-drop-panel {user-select: none;position: fixed;top: -1e+10px;color: rgb(255, 255, 255);font-family: -apple-system, BlinkMacSystemFont, Helvetica, Arial, sans-serif;font-weight: 400;z-index: 2147483647;background: rgb(64, 158, 255);overflow: hidden;border-radius: 5px;transition: opacity 0.2s cubic-bezier(0.6, 0, 0.4, 1) 0s, transform 0.2s ease-in-out 0s;}
	#fatkun-drop-panel-close-btn {display: block;width: 24px;height: 24px;position: absolute;right: 0px;top: 0px;font-size: 16px;color: rgb(255, 255, 255);text-align: center;line-height: 24px;text-decoration: none;}
	#fatkun-drop-panel-inner {width: 206px;height: 206px;margin: 16px;border-width: 1px;border-style: dashed;border-color: rgb(255, 255, 255);border-image: initial;border-radius: 5px;}
	
		
    .shell_ani {
      -webkit-animation-play-state: running;
      -moz-animation-play-state: running;
      -o-animation-play-state: running;
      animation-play-state: running;
      -moz-transform: translate3d(0, 0, 0);
      -ms-transform: translate3d(0, 0, 0);
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
      -webkit-animation: loop 1s linear infinite;
      -moz-animation: loop 1s linear infinite;
      -o-animation: loop 1s linear infinite;
      animation: loop 1s linear infinite;
    }
    @-webkit-keyframes loop {
        0% {
            -moz-transform: translateX(0);
            -ms-transform: translateX(0);
            -webkit-transform: translateX(0);
            transform: translateX(0);
        }
        100% {
            -moz-transform: translateX(1200%);
            -ms-transform: translateX(1200%);
            -webkit-transform: translateX(1200%);
            transform: translateX(1200%);
        }
    }
    @-moz-keyframes loop {
        0% {
            -moz-transform: translateX(0);
            -ms-transform: translateX(0);
            -webkit-transform: translateX(0);
            transform: translateX(0);
        }
        100% {
            -moz-transform: translateX(1200%);
            -ms-transform: translateX(1200%);
            -webkit-transform: translateX(1200%);
            transform: translateX(1200%);
        }
    }
    @-ms-keyframes loop {
        0% {
            -moz-transform: translateX(0);
            -ms-transform: translateX(0);
            -webkit-transform: translateX(0);
            transform: translateX(0);
        }
        100% {
            -moz-transform: translateX(1200%);
            -ms-transform: translateX(1200%);
            -webkit-transform: translateX(1200%);
            transform: translateX(1200%);
        }
    }
    @keyframes loop {
        0% {
            -moz-transform: translateX(0);
            -ms-transform: translateX(0);
            -webkit-transform: translateX(0);
            transform: translateX(0);
        }
        100% {
            -moz-transform: translateX(1200%);
            -ms-transform: translateX(1200%);
            -webkit-transform: translateX(1200%);
            transform: translateX(1200%);
        }
    }
    
  