<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<properties resource="db.properties" />
	<typeAliases>
		<typeAlias type="bucket.kurly.user.member.MemberVO" alias="member" />
		<typeAlias type="bucket.kurly.user.member.MemberTermsVO" alias="memberterms" />
		<typeAlias type="bucket.kurly.user.board.Board_noticeVO" alias="board_notice" />
		<typeAlias type="bucket.kurly.user.board.Board_qnaVO" alias="board_qna"/>
		<typeAlias type="bucket.kurly.user.board.Board_fileVO" alias="board_file"/>
		<typeAlias type="bucket.kurly.user.board.Board_fileVO" alias="board_file"/>
		<typeAlias type="bucket.kurly.user.goods.GoodsVO" alias="goods"/>
		<typeAlias type="bucket.kurly.user.goods.Goods_SellVO" alias="goods_sell"/>
	</typeAliases>

	<mappers>
		<mapper resource="mappings/member-mapping.xml" />
		<mapper resource="mappings/board-mapping.xml" />
		<mapper resource="mappings/goods-mapping.xml" />
	</mappers>
</configuration>